* {
    margin: 0px;
    padding: 0px;
}

header {
    background: linear-gradient(#9198e5 10%, #102542 90%);
    height: 130px;
}

header h1 {
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;

    text-align: center;

    padding-top: 20px;

    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.225);
}

header p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;

    text-align: center;
    margin-top: 5px;

    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.225);
}

body {
    background-color: white;
    height: 100vh;
}

main {
    height: 100vh;
    background-color: #B3A394;
    width: 1200px;
    margin: auto;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.225);
}

nav {
    background-color: #102542;
    
    height: 20px;

    padding-top: 5px;
    padding-bottom: 2px;

    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.225);
}

nav a {
    margin-left: 7px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: #9198e5;
    transition-duration: 0.4s;
    padding: 3px;
    border-radius: 3px;
}


footer {
    background-color: black;
}

footer p {
    color: white;
    text-align: center;
}