.consultas {
    
    background-color: #9198e5;

    height: 300px;
    width: 900px;
    margin: auto;
    
    position: relative;
    top: 20px;

    margin-bottom: 10px;

    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.225);

    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

form {
    height: 50px;
    width: 900px;
    margin: auto;
}

input {
    height: 20px;
    width: 180px;

    padding: 5px;

    display: block;
    margin: auto;
}

.colunas{
    margin: auto;
    height: 50px;
    width: 700px;

    display: flex;
    flex-wrap: wrap;
}

button {
    height: 40px;
    width: 100px;
    margin-top: 4px;
    margin-left: 2px;
}

button:hover  {
    cursor: pointer;
    background-color: greenyellow;
    color: black;

    transition-duration: 0.4s;
}

.consultas h2 {
    font-weight: normal;
    color: white;
    background-color: #102542;
    
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    text-indent: 16px;
}


table{
    width: 800px;
    border-collapse: collapse;
    font-size: 18px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
}

thead  {
    margin-left: 10px;
}

th {
    text-align: center;
    border: 2px solid black;
}
