.consultas {
    border: 2px solid black;
    background-color: blue;

    height: 300px;
    width: 900px;
    margin: auto;
    
    position: relative;
    top: 20px;

    margin-bottom: 10px;

    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.225);
}

form {
    background-color: blueviolet;
    height: 50px;
    width: 900px;
    margin: auto;
}

input {
    height: 20px;
    width: 180px;

    padding: 5px;

    display: block;
    margin: auto;
}

.colunas{
    margin: auto;
    background-color: cornflowerblue;
    height: 50px;
    width: 800px;

    display: flex;
    flex-wrap: wrap;
}

button {
    height: 50px;
    width: 100px;
}

button:hover  {
    cursor: pointer;
    background-color: greenyellow;
    color: black;

    transition-duration: 0.4s;
}