* {
    margin: 0px;
    padding: 0px;
}

article {
    padding: 10px;

    position: relative;
    top: 30px;

    height: 380x;
    width: 600px;
 
    margin: auto; 
    
    background-color: rgb(255, 255, 255);

    border-radius: 5px;

    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.225);
}

article h2  {
    font-weight: normal;
    font-family: serif;
    
}

article p {
    font-family: sans-serif;
    
    line-height: 1.5;
    text-align: justify;
}